#csr,
#product {
  margin-top: 31px;
  height: 830px;
}

#csr .csr-box,
#product .csr-box {
  background: #86A82F;
  border-radius: 10px;
  position: relative;
  height: 670px;
  width: 100%;
}

#csr .csr-box img.main-img,
#product .csr-box img.main-img {
  width: 100%;
  height: 436px;
  border-radius: 10px 10px 0 0;
}

#csr .csr-box img.play-video,
#product .csr-box img.play-video {
  position: absolute;
  top: 200px;
  left: 155px;
}

#csr .csr-box .title,
#product .csr-box .title {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  padding: 20px 30px 13 30px;
  color: #FFFFFF;
}

#csr .csr-box .desc,
#product .csr-box .desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding: 0 30px 66px 30px;
  color: #FFFFFF;
}

#csr .csr-btn,
#product .csr-btn {
  margin-top: 44px;
  width: 100%;
  height: 60px;
  background: #E3721F;
  color: #FFFFFF;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

#gallery {
  margin-top: 60px;
}

#product .content, #gallery .content {
  position: relative;
  width: 100%;
}

#product .content img, #gallery .content img {
  border-radius: 10px;
  width: 100%;
}

#product .content .btn-2020,
#product .content .btn-2019,
#product .content .btn-2013,
#product .content .btn-2008,
#product .content .btn-2021,
#product .content .btn-2022,
#product .content .btn-2018, #gallery .content .btn-2020,
#gallery .content .btn-2019,
#gallery .content .btn-2013,
#gallery .content .btn-2008,
#gallery .content .btn-2021,
#gallery .content .btn-2022,
#gallery .content .btn-2018 {
  position: absolute;
  top: 355px;
  left: 400px;
  width: 200px;
  height: 75px;
  cursor: pointer;
  background-color: #86a82f;
  opacity: 0.2;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#product .content .btn-2019, #gallery .content .btn-2019 {
  top: 555px;
  left: 115px;
  width: 240px;
}

#product .content .btn-2018, #gallery .content .btn-2018 {
  top: 595px;
  left: 460px;
  width: 240px;
}

#product .content .btn-2013, #gallery .content .btn-2013 {
  top: 605px;
  left: 855px;
  width: 240px;
}

#product .content .btn-2008, #gallery .content .btn-2008 {
  top: 615px;
  left: 1205px;
  width: 300px;
}

#product .content .btn-2021, #gallery .content .btn-2021 {
  top: 305px;
  left: 955px;
  width: 260px;
}

#product .content .btn-2022, #gallery .content .btn-2022 {
  top: 260px;
  left: 1325px;
  width: 260px;
}

#product .content .btn-2020:hover,
#product .content .btn-2018:hover,
#product .content .btn-2013:hover,
#product .content .btn-2008:hover,
#product .content .btn-2021:hover,
#product .content .btn-2022:hover,
#product .content .btn-2019:hover, #gallery .content .btn-2020:hover,
#gallery .content .btn-2018:hover,
#gallery .content .btn-2013:hover,
#gallery .content .btn-2008:hover,
#gallery .content .btn-2021:hover,
#gallery .content .btn-2022:hover,
#gallery .content .btn-2019:hover {
  opacity: 0;
}

#csr-milstone .content {
  position: relative;
  width: 100%;
}

#csr-milstone .content img {
  border-radius: 10px;
  width: 100%;
}

#csr-milstone .content .btn-2020,
#csr-milstone .content .btn-2019,
#csr-milstone .content .btn-2013,
#csr-milstone .content .btn-2008,
#csr-milstone .content .btn-2021,
#csr-milstone .content .btn-2022,
#csr-milstone .content .btn-2018 {
  position: absolute;
  top: 355px;
  left: 400px;
  width: 200px;
  height: 75px;
  cursor: pointer;
  background-color: #86a82f;
  opacity: 0.2;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#csr-milstone .content .btn-2019 {
  top: 555px;
  left: 115px;
  width: 240px;
}

#csr-milstone .content .btn-2018 {
  top: 595px;
  left: 460px;
  width: 240px;
}

#csr-milstone .content .btn-2013 {
  top: 605px;
  left: 855px;
  width: 240px;
}

#csr-milstone .content .btn-2008 {
  top: 615px;
  left: 1205px;
  width: 300px;
}

#csr-milstone .content .btn-2021 {
  top: 305px;
  left: 955px;
  width: 260px;
}

#csr-milstone .content .btn-2022 {
  top: 260px;
  left: 1325px;
  width: 260px;
}

#csr-milstone .content .btn-2020:hover,
#csr-milstone .content .btn-2018:hover,
#csr-milstone .content .btn-2013:hover,
#csr-milstone .content .btn-2008:hover,
#csr-milstone .content .btn-2021:hover,
#csr-milstone .content .btn-2022:hover,
#csr-milstone .content .btn-2019:hover {
  opacity: 0;
}

.product {
  margin-top: 0;
}

.csr-box-slide {
  background: #ffffff;
  -webkit-box-shadow: 3px 0px 15px rgba(188, 188, 188, 0.2);
          box-shadow: 3px 0px 15px rgba(188, 188, 188, 0.2);
  border-radius: 10px;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 700px;
  cursor: pointer;
}

.csr-box-slide img.main-img {
  width: 100%;
  height: 436px;
  border-radius: 10px;
}

.csr-box-slide img.play-video {
  position: absolute;
  left: 150px;
  top: 170px;
}

.csr-box-slide .title {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  padding: 42px 30px 13 30px;
  color: #2C2E35;
}

.csr-box-slide .desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding: 0 30px 66px 30px;
  color: #2C2E35;
}

.modal-article-info {
  margin-top: 83px;
  padding: 0 50px 0 20px;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.modal-article-info .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2C2E35;
  margin-bottom: 26px;
}

.modal-article-info .title.milestone-right {
  margin-top: 376px;
}

.modal-article-info .desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  height: 450px;
  padding-right: 20px;
  overflow-y: auto;
}

.modal-article-info .desc.milestone-right {
  height: auto;
}

.modal-article-info .desc::-webkit-scrollbar {
  width: 10px;
}

.modal-article-info .desc::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.modal-article-info .desc::-webkit-scrollbar-thumb {
  background: #888;
}

.modal-article-info .desc::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal-dialog.sub-page {
  max-width: 1620px !important;
}

.swipper-content {
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0px 0px 0px rgba(188, 188, 188, 0.2);
          box-shadow: 0px 0px 0px rgba(188, 188, 188, 0.2);
}

.swiper {
  width: 100%;
  height: 745px;
  padding: 0 4px 0 0;
}

.swiper.myCSR {
  width: 100%;
  height: 845px;
  padding: 0 4px 0 0;
}

.swiper.myCsrArticleSlide {
  padding: 0 0 0 0;
  height: auto;
}

.swiper.myCsrArticleSlide .artikel-slide-img {
  width: 100%;
  height: 648px;
  border-radius: 3px 0 0 3px;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #2C2E35;
  width: 10px;
  height: 10px;
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #C22F35;
}

.swiper-button-prev {
  background: url(../img/main/icon-btn-right.png);
  height: 64px;
  width: 64px;
  -webkit-filter: drop-shadow(0px 10px 40px rgba(91, 93, 99, 0.8));
          filter: drop-shadow(0px 10px 40px rgba(91, 93, 99, 0.8));
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  left: -32px;
}

.swiper-button-prev.article {
  right: 118px;
  top: auto;
  bottom: 20px;
  left: auto;
}

.swiper-button-next.article {
  right: 28px;
  top: auto;
  bottom: 20px;
  left: auto;
}

.swiper-button-next {
  background: url(../img/main/icon-btn-left.png);
  height: 64px;
  width: 64px;
  -webkit-filter: drop-shadow(0px 10px 40px rgba(91, 93, 99, 0.8));
          filter: drop-shadow(0px 10px 40px rgba(91, 93, 99, 0.8));
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  right: -32px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  -webkit-filter: drop-shadow(0px 10px 40px rgba(91, 93, 99, 0.8));
          filter: drop-shadow(0px 10px 40px rgba(91, 93, 99, 0.8));
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}
/*# sourceMappingURL=csr.css.map */