#publication {
    margin-top: 31px;

    .publication-box {
        border-radius: 10px;
        position: relative;
        display: block;
        width: 100%;
        height: 785px;

        img.play-video {
            position: absolute;
            top: 200px;
            left: 160px;
            cursor: pointer;
        }

        .content {
            position: absolute;
            bottom: 26px;
            text-decoration: none;
            width: 100%;
            padding: 0 70px;

            .read-more {
                font-weight: 700;
                font-size: 16px;
                line-height: 18px;
                padding: 21px;
                text-align: center;
                color: #FFFFFF;
                background: #E3721F;
                width: 100%;
                float: left;
                cursor: pointer;
            }
        }

    }

    .publication-box.red {
        background-color: #C60819;
    }

    .publication-btn {
        margin-top: 44px;
        width: 100%;
        height: 60px;
        background: #E3721F;
        color: #FFFFFF;
        border-radius: 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.btn-close-modal {
    margin-top: 160px;
    margin-right: 100px;
    cursor: pointer;
    z-index: 2222;
}

.modal-dialog {
    max-width: 1620px !important;
    padding-bottom: 0;
    margin-bottom: 0;
}